#Environment
.env*

#log
*.log*
.txt

#cache
*__pycache__*
*.pyc

#assets/
*3.png
*1.png
*.csv
payloads/
*.zip

#debug
ldcosmoagent.py
instabot/

#Iac
.terraform/
*terraform.*
