#Environment
.env*

#log
*.log*
.txt

#cache
*__pycache__*
*.pyc
.coverage

#assets/
*.png
*.csv
*.html
payloads/
*.zip

#debug
ldcosmoagent.py
instabot/

#Iac
*terraform*
*.tfstate
